@charset "utf-8";
/* ＝＝＝＝＝下層ページCSS＝＝＝＝＝*/


:root {
    --blue: #27589B;
    --orange: #F08302;
    --text_color: #102440;
    --snow_white: #FAFDFF;
    --gray_white: #F6F6F6;
    --logo_color: #04243D;
}

/* 下層ページ＿＿セクションーーマージンボトム200px */
section {
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 200px;
    padding: 0 10px;
}

/* 下層ページ＿＿ページタイトル */
h1 {
    text-align: center;
}
h1 img {
    height: 58px;
    padding: 11px 0 11px 0;
    width: auto;
    margin-bottom: 160px;
}

/* ＝＝＝＝＝パンくずリスト＝＝＝＝＝ */
.breadcrumb {
    display: flex;
    list-style-type: none;
    max-width: 1100px;
    margin: 120px auto;
}
.breadcrumb li,
.breadcrumb a {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.2em;
    color: #878C94;
    padding: 20px 0;
}
/* 項目の間にある三角形 */
.breadcrumb li + li::before {
    content: "";
    display: inline-block;
    width: 9px;
    height: 9px;
    background-image: url(../images/main/breadcrumb_arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 25px;
}
/* パンくずホバー時 */
.breadcrumb li a:hover {
    color: var(--orange);
    -webkit-text-stroke: 1px var(--orange);
}


/* ＝＝＝＝＝ページ＿＿プロフィール＝＝＝＝＝ */
.profile {
    position: relative;
    text-align: center;
}
.profile h1 {
    position: relative;
    z-index: 2;
    pointer-events: none;
}
.profile__photo--wrap {
    width: 36.3%;
    margin: 0 auto;
    position: relative;
    bottom: 180px;
}
.profile__photo--wrap picture {
    display: block;
}
.profile__photo--wrap picture:last-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: 0.3s;
}
.profile__photo--wrap img {
    filter: drop-shadow(8px 8px 0px var(--blue));
    border-radius: 30px;
}
@media (hover: hover) and (pointer: fine) {
    .profile__photo--wrap:hover  picture:last-child {
        opacity: 1;
    }
}
.profile__circle {
    width: min(69.4vw, 1000px);
    height: min(69.4vw, 1000px);
    border-radius: 50%;
    position: absolute;
    top: 580px;
    left: -100px;
    z-index: -9999;
    background-image: url(../images/main/bg_noise_white.webp);
    animation: fuwafuwa 3s ease-in-out infinite alternate-reverse;
}
.headding {
    margin-bottom: 64px;
}
.profile__inner {
    position: relative;
    z-index: 2;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.1em; 
    left: 40px;
    top: -440px;
    margin-bottom: -260px;
    pointer-events: none;
}
.profile__inner details {
    pointer-events: auto;
}
h2 span {
    color: var(--orange);
}
.profile__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 64px;
    animation: fadeIn 0.4s ease;
}
.profile__text {
    letter-spacing: 0.06em;
    line-height: 2.2;
    margin-bottom: 64px;
    width: 77%;
}
/* アコーディオンメニュー */
summary {
    letter-spacing: 0.2em;
    padding: 14px 0;
    /* margin-top: 32px; */
    list-style: none;
    width: fit-content;
    cursor: pointer;
}
/* 三角矢印 */
summary::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url(../images/main/orange_arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    top: 2px;
    margin-right: 10px;
    transition: 0.3s;
}
/* 三角矢印＿＿オープン */
details[open] summary::before {
    transform: rotate(90deg);
}
summary span {
    border-bottom: dashed 1px var(--text_color);
}
/* オープン＿＿内容をふわっと表示させる */
details {
    &::details-content {
        @media (prefers-reduced-motion: no-preference) {
        transition-duration: 0.3s;
        transition-property: content-visibility, opacity;
        transition-behavior: allow-discrete;
        }
    }
    &:not([open])::details-content {
        opacity: 0;
    }
}
details ul {
    margin: 32px 0 0 25px;
}
/* 屋号 */
.yagou {
    position: relative;
    text-align: right;
}
.yagou__inner {
    display: flex;
    gap: 40px;
    align-items: flex-start;
}
.yagou__inner img {
    margin-top: 10px;
    width: 230px;
}
.yagou__text {
    display: flex;
    flex-direction: column;
    gap: 35px;
    text-align: left;
}
.yagou__text p {
    letter-spacing: 0.06em;
    line-height: 2.2;
}
/* 戻るボタン */
.btn__revese {
    transform: scaleX(-1);
}
.btn__container {
    display: flex;
    justify-content: center;
    margin-top: 128px;
}


/* ＝＝＝＝＝ページ＿＿ワークス（一覧）＝＝＝＝＝ */
.h2works__container {
    margin-bottom: 72px;
}
.h2works {
    display: flex;
    align-items: center;
    gap: 14px;
}
.h2works img {
    height: 38px;
    padding: 11px 0 11px 0;
    width: auto;
    margin-bottom: 0;
}
.h2works__border {
    /* h2の横線 */
    flex-grow: 1;
    border-top: dashed 1px var(--blue);
}
.h2works__container--others {
    margin-top: 100px;
}


/*  ページ＿＿ワークス各詳細ページ */
.work {
    max-width: 660px;
    margin: 0 auto;
}
.work__thumb {
    text-align: center;
}
.work img {
    border-radius: 20px;
}
/* モーダルボタン */
.work__modal--container {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin: 56px auto;
}
.work__modal {
    width: fit-content;
    padding: 15px 54px;
    background-color: var(--text_color);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.work__modal p {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.2em;
    color: var(--snow_white);
}
.work__modal p::after {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url(../images/main/white_arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 32px;
}
/* ＝＝＝＝＝ワーク＿＿プロダクション＝＝＝＝＝ */
.work a {
    cursor: pointer;
}
.work__production {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: fit-content;
    padding: 16px 24px;
    border-top: 1px solid #BBBFC5;
    border-bottom: 1px solid #BBBFC5;
    margin-bottom: 48px;
}
.work__production div {
    display: flex;
}
.work__production dt,
.work__production dd {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.2em;
    line-height: 1.4;
}
.work__production dt::after {
    content: "：";
}
.work__production--text {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.04em;
    line-height: 2.0;
    margin-bottom: 100px;
}
/* モーダル */
.remodal {
    padding: 5px 5px 60px 5px;
    max-width: fit-content;
}
.remodal__image {
    /* バナーなど */
    max-width: 600px;
    max-height: 80vh;
    width: auto;
    height: auto;
    overflow: auto;
}
.remodal__image--pc {
    /* PC */
    max-width: 700px;
    max-height: 80vh;
    overflow: auto;
}
.remodal__image--sp {
    /* SP */
    max-width: 400px;
    max-height: 80vh;
    overflow: auto;
}
.remodal__image,
.remodal__image--pc img,
.remodal__image--sp img {
    display: block;
    width: 100%;
    height: auto;
    border: solid 1px #BBBFC5;
    box-sizing: border-box;
}
.my-close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    right: 10px;
    bottom: 8px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.my-close::before,
.my-close::after {
    content: "";
    position: absolute;
    width: 22px;
    height: 2px;
    border-radius: 10px;
    background-color: #BBBFC5;
}
.my-close::before {
    transform: rotate(45deg);
}
.my-close::after {
    transform: rotate(-45deg);
}


/* ＝＝＝＝＝コンタクト＝＝＝＝＝ */
.contact__text {
    text-align: center;
    margin-bottom: 100px;
}
/* フォーム */
.c-form {
	max-width: 660px;
	margin: 0 auto;
}
.c-form__item {
	margin-bottom: 32px;
}
.c-form__label,
.c-form__input {
    display: block;
    /* textarea にページのフォントを継承 */
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.08em;
}
.c-form__label::after {
    content: "*";
    color: var(--orange);
    padding-left: 4px;
}
.c-form__label.no-required::after {
    /* 必須項目ではないものは”*”を非表示 */
    display: none;
}
.c-form__input {
    width: 100%;
    box-sizing: border-box;
    font-weight: 400;
    color: var(--text_color);
    line-height: 1.5;
    margin-top: 16px;
    padding: 16px 24px;
    border: none;
    background-color: var(--snow_white);
    border-radius: 10px;
}
.c-form__input:focus-visible {
    /* 項目を選択した時の枠線 */
	outline: var(--orange) solid 1px;
}
.c-form__input::placeholder {
    /* 見本で入っている文字 */
    color: #C2C4C8;
    font-weight: 400;
    opacity: 1; 
}
textarea.c-form__input {
	height: 300px;
}
.c-form__submit {
	text-align: center;
    margin-top: 100px;
}
.c-form__submit button {
	font-size: 24px;
	font-weight: 500;
    letter-spacing: 0.5em;
	color: var(--snow_white);
	background-color: var(--blue);
	border: solid 1px var(--blue);
	border-radius: 40px;
	padding: 18px 70px;
	transition: 0.3s;
}
.c-form__submit button:hover {
    background-color: var(--orange);
    border: solid 1px var(--orange);
}


/* ラジオボタン */
.form__radio--wrapper {
    margin-top: 16px;
}
.label__radio {
    display: flex;
    align-items: center;
    gap: 6px;
    height: 44px;
}
input[type="radio"] {
    /* デフォルトラジオボタンCSS無効化 */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    /* 外側の丸 */
    width: 30px;
    height: 30px;
    background-color: var(--snow_white);
    border-radius: 50%;
    /* 文字と横並びの高さ */
    vertical-align: -10px;
}
input[type="radio"]:checked:before {
    /* チェック時の内側の丸 */
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--text_color);
}
.radio__span {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.08em;
    line-height: 1.2;
}

/* ＝＝＝＝＝ページ＿＿プライバシーポリシー＝＝＝＝＝ */
.praivacypolicy {
    max-width: 660px;
    margin: 0 auto;
}
.praivacypolicy li,
.praivacypolicy p,
.praivacypolicy dd {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.08em;
    line-height: 2.0;
}
.praivacypolicy dt {
    font-weight: 700;
    color: var(--text_color);
}
.praivacypolicy  ul {
    list-style: disc;
    padding-left: 20px;
}
.praivacypolicy p,
.praivacypolicy dd {
    margin-bottom: 32px;
}
.praivacypolicy dt {
    margin-bottom: 16px;
}


/* ＝＝＝＝＝404＝＝＝＝＝ */
.notFound img {
    height: 128px;
    padding: 11px 0 11px 0;
    width: auto;
    margin-bottom: 100px;
}
.notFound__text {
    font-size: 16px;
    letter-spacing: 0.2em;
    line-height: 2.0;
    text-align: center;
}


/* ＝＝＝＝＝レスポンシブ＝＝＝＝＝ */


@media screen and (max-width: 900px) {
    .praivacypolicy__title {
        display: block;
        padding: 11px 0;
    }
    .praivacypolicy__title img {
        height: 140px; 
    }
    .c-form {
        max-width: 87.8%;
    }
}


@media screen and (max-width: 768px) {
    .breadcrumb {
        display: none;
    }
    section {
        margin-top: 120px;
        margin-bottom: 160px;
        padding: 0 7.69%;
    }
    h1 img {
        height: 38px;
        margin-bottom: 80px;
    }


    /* プロフィール */
    .profile__photo--wrap {
        width: 74.3%;
        bottom: 104px;
    }
    .profile__photo--wrap picture {
        transition: none;
        animation: profile__photo--switch 10s infinite;
    }
    .profile__photo--wrap picture:first-child {
        animation-delay: 0s;
    }
    .profile__photo--wrap picture:last-child {
        animation-delay: 5s;
    }
    @keyframes profile__photo--switch {
        0% {
        opacity: 0;
        }
        25% {
            opacity: 1;
        }
        50% {
            opacity: 1;
        }
        75% {
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }
    .profile__inner {
        font-size: 14px;
        letter-spacing: 0.04em; 
        left: 0px;
        top: -140px;
        margin-bottom: -20px;
    }
    .headding {
        margin-bottom: 108px;
    }
    .profile__list {
        gap: 18px;
        margin-bottom: 80px;
    }
    .profile__list li {
        line-height: 1.8;
    }
    .profile__text {
        letter-spacing: 0.04em;
        line-height: 2.0;
        margin-bottom: 80px;
        width: 100%;
    }
    .profile__circle {
    width: 650px;
    height: 650px;
    top: 290px;
    left: -230px;
    }
    /* 屋号 */
    .yagou__inner {
        flex-direction: column;
        gap: 50px;
        align-items: center;
    }
    .yagou .headding {
        margin-bottom: 80px;
    }
    .yagou__inner img {
        margin-top: 0px;
        width: 58.9%;
    }
    .yagou__text {
        gap: 28px;
    }
    .yagou__text p {
        font-size: 14px;
        letter-spacing: 0.04em;
        line-height: 2.0;
    }
    /* ボタン */
    .btn__container {
    margin-top: 90px;
    }


    /* ワークス */
    .h2works {
    display: flex;
    align-items: center;
    gap: 14px;
    }
    .h2works img {
        height: 20px;
        margin-bottom: 0;
    }
    .h2works__container {
        margin-bottom: 50px;
    }
    .h2works__container--others {
        margin-top: 90px;
    }


    /* ワーク(詳細) */
    .work img {
        border-radius: 10px;
        width: 74.3%;
    }
    .work__modal {
        padding: 15px 32px;
        margin: 50px auto;
    }
    .work__modal p {
        font-size: 14px;
    }
    .work__modal p::after {
        width: 13px;
        height: 13px;
        margin-left: 24px;
    }
    .work__production {
        margin: 0 auto 16px;
        /* margin-top: 16px; */
    }
    .work__production dt,
    .work__production dd {
        letter-spacing: 0.1em;
        line-height: 1.4;
    }
    .work__production--text {
        font-size: 14px;
        width: fit-content;
        margin: 0 auto 100px;
    }
    /* モーダルボタン */
    .work__modal--container {
        flex-direction: column;
        gap: 24px;
        margin: 50px auto;
    }
    .work__modal {
        padding: 15px 36px;
        margin: 0 auto;
    }
    .work__modal p {
        font-size: 14px;
    }
    .work__modal p::after {
        width: 13px;
        height: 13px;
        margin-left: 24px;
    }
    /* モーダル */
    .remodal__image {
        max-width: 350px;
        max-height: 60vh;
    }
    .remodal__image--pc {
        max-width: 350px;
        max-height: 60vh;
    }
    .remodal__image--sp {
        max-width: 250px;
        max-height: 60vh;
    }


    /* コンタクト */
    .c-form__item {
        margin-bottom: 32px;
    }
    .c-form__label,
    .c-form__input {
        font-size: 14px;
        letter-spacing: 0.05em;
    }
    .c-form__input {
        padding: 14px 14px;
    }
    .radio__span {
        font-size: 14px;
        letter-spacing: 0.05em;
    }
    .c-form__submit button {
        font-size: 18px;
        padding: 12px 52px;
    }
    .c-form__submit {
        margin-top: 80px;
    }


    /* プライバシーポリシー */
    .praivacypolicy__title img {
        height: 88px;
    }
    .praivacypolicy {
        max-width: none;
    }
    .praivacypolicy li,
    .praivacypolicy p,
    .praivacypolicy dd {
        font-size: 14px;
        letter-spacing: 0.05em;
    }
    .praivacypolicy dt {
        margin-bottom: 14px;
    }


    /* 404 */
    .notFound img {
    height: 80px;
    padding: 11px 0 11px 0;
    margin-bottom: 80px;
}
.notFound__text {
    font-size: 14px;
    letter-spacing: 0.2em;
    line-height: 2.0;
    text-align: center;
}
}


@media screen and (max-width: 570px) {
    .work__production {
        padding: 16px 0;
    }
    .work__production--vertical div {
        /* 項目多過ぎる場合の調整用 */
        display: block;
    }
}




/* ＝＝＝＝＝PC版では消す＝＝＝＝＝ */
@media screen and (min-width: 769px) {
    .h2works__border:nth-child(1) {
        display: none;
    }
}